@media all and (max-width: 360px) {
  body {
    font-size: 125%;
  }
}
@media all and (min-width: 360px) {
  body {
    font-size: 150%;
  }
}



@font-face {
  font-family: SignPainter;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SignPainter.otf");
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #0c1533;
}

h1, h2, .sponsor-headline {
  font-family: "SignPainter";
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.4em;
  color: #0c1533;
}

h3 {
  font-size: 1.2em;
  color: #0c1533;
}

h4 {
  color: #0c1533;
  margin-top: 20px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

.center {
  text-align:center;
}


.sub {
  margin-top: 30px;
  margin-bottom: 30px;
}


.logo {
  max-width: 100%;
  height: auto;
}

.icon {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2.5em;
}

body { padding-top: 37px; }

li a {
  font-size: 1.5em;
  font-family: "SignPainter";
}

p, h2, h3 {
  padding: 0px 20px;
}

.navbar-custom {
  background-color: #2a608a;
  border-color: #2a608a;
  border: 0;
}

.text-row {
  padding: 0 0 20px 0;
}

.bg-light {
  background: #ffffff;
  opacity: .90;
  /*background-color: #e2e2e2;*/
}

.bg-lighter {
  background: #ffffff;
  opacity: .90;
}

.navbar-custom .navbar-nav>li>a {
  color: white;
}

.navbar { min-height:37px; margin-bottom: 0px; }
.navbar .navbar-brand{ padding: 0 12px;font-size: 16px;line-height: 20px;height: 20px; }
.navbar .navbar-nav > li > a { padding: 5px 10px 0 10px; line-height: 27px; }
.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
.navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }
.navbar .navbar-collapse {border-color: #2a608a;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #2a608a }
.navbar-toggle { border: 0 }
.navbar-default .navbar-toggle .icon-bar { background-color: white; }
.navbar-custom .navbar-nav>li>a { color: white; text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black; }
.navbar .container { padding: 0; margin: 0; width: 100%; }

.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

.sponsor {
  height: 70px;
}

.sponsor-img {
  max-height:100%;
  max-width:100%;
  margin: 0 20px;
  padding-bottom: 20px;
}

.main-sponsor {
  margin-bottom: 10px;
}

.sponsor-headline {
  font-size: 2em;
}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
}

.sponsors {
  padding: 0 20px;
}

.text-box {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}

div.col-md-6 {
  padding: 0 20px 0 0;
}

.text-fix {
  padding: 0 0 0 0 !important;
}

div.hr {
  height: 15px;
  background-color: #2a608a;
}

div.hr hr {
  display: none;
}

footer.container.footer {
  width: 100%;
  background-color: #0c1533;
  color: #ffffff;
  opacity: .90;
}
footer > div {
  padding-top: 8px;
}
footer > div > p {
  font-size: 0.8em;
  padding: 0 0;
}

@media (min-width: 768px) {

  p {
    text-align: justify;
    justify-content: space-around;
  }

  div.col-md-6 > p {
    text-align: left;
  }

}
