@media all and (max-width: 360px) {
   body {
    font-size: 175%;
  }
}
@media all and (min-width: 360px) {
   body {
    font-size: 150%;
  }
}


@font-face {
  font-family: SignPainter;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SignPainter.otf");
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #071854;
}

h1, h2 {
  font-family: "SignPainter";
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.4em;
  color: #071854;
}

h3 {
  font-size: 1.2em;
  color: #071854;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;

}

.center {
  text-align:center;
}


.sub {
  margin-top: 30px;
  margin-bottom: 30px;
}


.logo {
  max-width: 100%;
  height: auto;
}

body { padding-top: 37px; }

li a {
  font-size: 1.5em;
  font-family: "SignPainter";
}

p, h2, h3 {
  padding: 0px 20px;
}

.navbar-custom {
  background-color: #071854;
  border-color: #071854;
  border: 0;
}

.text-row {
  padding: 0 0 20px 0;
}

.bg-light {
  background-color: #e2e2e2;
}

.bg-lighter {
  background-color: #f4f4f4;
}

.navbar-custom .navbar-nav>li>a {
  color: white;
}


.navbar { min-height:20px; margin-bottom: 0px; }
.navbar .navbar-brand{ padding: 0 12px;font-size: 16px;line-height: 20px;height: 20px; }
.navbar .navbar-nav > li > a {  padding-top: 5px; padding-bottom: 0px; line-height: 27px; }
.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
.navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }
.navbar .navbar-collapse {border-color: #071854;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #071854 }
.navbar-toggle { border: 0 }
.navbar-default .navbar-toggle .icon-bar { background-color: white; }
.navbar-custom .navbar-nav>li>a { color: white; text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black; }


.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

.sponsor {
  height: 70px;

}

.sponsor-img {
  max-height:100%;
  max-width:100%;
  margin: 0 20px;
  padding-bottom: 20px;
}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
}